doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title  Grabstr Page Not Found
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='shortcut icon', href='../favicon.ico')
    style.
      .containerError{
      width: 90%;
      margin: 0 auto;
      /*position: relative;*/
      }
      .inner-containerError{
      padding-top: 17%;
      width: 25%;
      margin: 0 auto;
      text-align: center;
      }
  body
    .containerError
      .inner-containerError
        h1  404! 
        h2  Oops Page Not found 
        h3
          | Grabstr is Investigating. 
          br
          bre
          a.btn.btn-primary(href='/login')  Login Again 